
<h2 class="m-5">Proyectos de Aula</h2>

<p-card styleClass="m-4">

  <div class="flex justify-content-between mb-3">
    <p-button (click)="showDialog = true" styleClass="py-2" icon="pi pi-plus" label="Agregar"></p-button>

    <p-dialog header="Agregar Proyecto de Aula" styleClass="w-6" [(visible)]="showDialog" [modal]="true" [draggable]="false" [resizable]="false">
      <form (ngSubmit)="createAulaProject()" [formGroup]="form" class="p-5">
        <input type="text" pInputText class="w-full  mb-4" formControlName="nombre" placeholder="Nombre"/>
        <p-dropdown placeholder="Eje transversal" styleClass="w-full mb-4" appendTo="body" formControlName="id_eje_transversal" [options]="transversalAxis" optionValue="id" optionLabel="nombre"></p-dropdown>
        <p-dropdown placeholder="Tipo de eje" styleClass="w-full mb-4" appendTo="body" formControlName="tipo_eje" [options]="axisTypes" optionValue="id" optionLabel="descripcion"></p-dropdown>
        
        <div class="flex justify-content-between mb-4 flex-column lg:flex-row">
          <p-calendar styleClass="w-full" placeholder="fecha de Inicio" appendTo="body" formControlName="fecha_inicio"></p-calendar>
          <p-calendar styleClass="w-full" placeholder="fecha de Fin" appendTo="body" formControlName="fecha_fin"></p-calendar>
        </div>

        <p-dropdown placeholder="grados" styleClass="w-full mb-4" appendTo="body" formControlName="grado" [options]="grades" optionValue="id" optionLabel="descripcion"></p-dropdown>
        <textarea rows="5" pInputTextarea  class="w-full mb-5" placeholder="cierre" formControlName="cierre"></textarea>
      
        <p-button styleClass="w-full" type="submit" label="Agregar"></p-button>
      </form>
    </p-dialog>

    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input #inputSearch pInputText type="text" class="" (input)="dt.filterGlobal(inputSearch.value, 'contains')" placeholder="Search keyword" />
    </span>
  </div>

  <p-table #dt
           [value]="aulaProjects" 
           [paginator]="true"
           [rows]="10"
           styleClass="p-datatable-sm"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10, 25, 50]"
           [tableStyle]="{ 'min-width': '50rem' }"
           [globalFilterFields]="['id', 'nombre']">
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="nombre">
            Nombre <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="id_eje_transversal">
            Eje Transversal <p-sortIcon field="id_eje_transversal"></p-sortIcon>
          </th>
          <th pSortableColumn="fecha_inicio">
            Fecha de Inicio <p-sortIcon field="fecha_inicio"></p-sortIcon>
            </th>
          <th pSortableColumn="fecha_fin">
            Fecha Fin <p-sortIcon field="fecha_fin"></p-sortIcon>
          </th>
          <th pSortableColumn="descripcion">
            Grado <p-sortIcon field="descripcion"></p-sortIcon>
          </th>
          <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-aulaProject>
        <tr>
          <td>{{ aulaProject.id }}</td>
          <td>{{ aulaProject.nombre }}</td>
          <td>{{ getAxis(aulaProject.id_eje_transversal)?.nombre }}</td>
          <td>{{ aulaProject.fecha_inicio| date }}</td>
          <td>{{ aulaProject.fecha_fin | date }}</td>
          <td>{{ getGrade(aulaProject.grado)?.descripcion }}</td>
          <td>
            <a [routerLink]="['../activity', aulaProject.id]">Agregar actividades</a>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td class="text-center p-4" colspan="6">No aula projects found.</td>
      </tr>
  </ng-template>
  </p-table>
</p-card>



<!-- div class="overflow-y-auto px-5">
  <h1 class="h3 mb-2 text-gray-800">Proyectos de Aula</h1>
  <hr />
  <div class="row">
    <div class="col-12 col-lg-5 mr-auto mb-3">
      <div class="card border-left-primary shadow p-4">
        <form class="user" (ngSubmit)="createAulaProject()" [formGroup]="form">
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-user"
              id="nombre"
              placeholder="Nombre"
              formControlName="nombre"
            />
          </div>
          <hr />
          <div>
            <div class="form-group">
              <label for="transversalAxis">Eje Transversal</label>
              <select
                class="form-control"
                id="transversalAxis"
                formControlName="id_eje_transversal"
              >
                <option
                  *ngFor="let axis of transversalAxis"
                  value="{{ axis.id }}"
                >
                  <strong>{{ axis.nombre }}</strong>
                </option>
              </select>
            </div>
          </div>
          <hr />
          <div>
            <div class="form-group">
              <label for="tipoEje">Tipo de Eje Transversal</label>
              <select
                class="form-control"
                id="tipoEje"
                formControlName="tipo_eje"
              >
                <option *ngFor="let type of axisTypes" value="{{ type.id }}">
                  <strong>{{ type.descripcion }}</strong>
                </option>
              </select>
            </div>
          </div>
          <hr />
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label for="fecha_inicio">Fecha Inicio</label>
              <input
                type="date"
                class="form-control form-control-user"
                id="fecha_inicio"
                placeholder="Fecha Inicio"
                formControlName="fecha_inicio"
              />
            </div>
            <div class="col-sm-6">
              <label for="fecha_fin">Fecha Fin</label>
              <input
                type="date"
                class="form-control form-control-user"
                id="fecha_fin"
                placeholder="Fecha Fin"
                formControlName="fecha_fin"
              />
            </div>
          </div>
          <hr />
          <div>
            <div class="form-group">
              <label for="grade">Grado</label>
              <select class="form-control" id="grade" formControlName="grado">
                <option *ngFor="let grade of grades" value="{{ grade.id }}">
                  <strong>{{ grade.descripcion }}</strong>
                </option>
              </select>
            </div>
          </div>
          <br />
          <div>
            <label for="cierre">Cierre</label>
            <textarea
              type="text"
              class="form-control"
              id="cierre"
              placeholder="Cierre..."
              formControlName="cierre"
            >
            </textarea>
          </div>
          <hr />
          <button type="submit" class="btn btn-primary btn-user btn-block">
            Crear Projecto de Aula
          </button>
        </form>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Eje Transversal</th>
                  <th>Fecha de Inicio</th>
                  <th>Fechja Fin</th>
                  <th>Grado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let aulaProject of aulaProjects">
                  <td>{{ aulaProject.id }}</td>
                  <td>{{ aulaProject.nombre }}</td>
                  <td>{{ getAxis(aulaProject.id_eje_transversal)?.nombre }}</td>
                  <td>{{ aulaProject.fecha_inicio }}</td>
                  <td>{{ aulaProject.fecha_fin }}</td>
                  <td>{{ getGrade(aulaProject.grado)?.descripcion }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div -->
