<h2 class="m-5">Crear actividades para el plan del trabajo</h2>

<p-card styleClass="m-4">

  <div class="flex justify-content-between mb-3">
    <p-button (click)="showDialog = true" styleClass="py-2" icon="pi pi-plus" label="Agregar"></p-button>

    <p-dialog header="Agregar Actividad" styleClass="w-6" [(visible)]="showDialog" [modal]="true" [draggable]="false" [resizable]="false">
      <form class="p-5" (ngSubmit)="createActivity()" [formGroup]="form">
        <input type="text" pInputText class="w-full mb-4" formControlName="nombre" placeholder="Nombre"/>
       
        <div class="flex justify-content-between mb-4 flex-column lg:flex-row">
          <p-calendar styleClass="w-full" placeholder="fecha de Inicio" appendTo="body" formControlName="fecha_inicio"></p-calendar>
          <p-calendar styleClass="w-full" placeholder="fecha de Fin" appendTo="body" formControlName="fecha_fin"></p-calendar>
        </div>

        <input type="text" pInputText class="w-full  mb-4" formControlName="cumplimiento" placeholder="Cumplimiento"/>
      
         
        <textarea rows="5" pInputTextarea  class="w-full mb-4" placeholder="observacion" formControlName="observacion"></textarea>

        <p-button styleClass="w-full mt-4" type="submit" label="Agregar"></p-button>
      </form>
    </p-dialog>

    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input #inputSearch pInputText type="text" class="" (input)="dt.filterGlobal(inputSearch.value, 'contains')" placeholder="Search keyword" />
    </span>
  </div>

  <p-table #dt
           [value]="activities" 
           [paginator]="true"
           [rows]="10"
           styleClass="p-datatable-sm"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10, 25, 50]"
           [tableStyle]="{ 'min-width': '50rem' }"
           [globalFilterFields]="['id', 'nombre']">
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre">
            Nombre <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="fecha_inicio">
            Fecha de Inicio <p-sortIcon field="fecha_inicio"></p-sortIcon>
            </th>
          <th pSortableColumn="fecha_fin">
            Fecha Fin <p-sortIcon field="fecha_fin"></p-sortIcon>
          </th>
          <th pSortableColumn="cumplimiento">
            Cumplimiento <p-sortIcon field="cumplimiento"></p-sortIcon>
          </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-activity>
        <tr>
          <td>{{ activity.nombre }}</td>
          <td>{{ activity.fecha_inicio | date:'dd/MM/yyyy' }}</td>
          <td>{{ activity.fecha_fin | date:'dd/MM/yyyy' }}</td>
          <td>{{ activity.cumplimiento }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td class="text-center p-4" colspan="4">No activities projects found.</td>
      </tr>
  </ng-template>
  </p-table>
  <p-button label="Volver a plan de trabajo" [routerLink]="['/pl/workplans/view'] "></p-button>
</p-card>

