<div class="w-screen h-screen flex justify-content-end align-items-center">

  <div class="flex justify-content-center align-items-center bg-radient w-6 h-full">

      <div pAnimate enterClass="flip" leaveClass="fadeoutleft" class=" w-30rem border-round shadow-2 animation-duration-3000 animation-ease-out  animation-iteration-infinite">
        <i class="  flex align-items-center justify-content-center pi pi-users" style="font-size: 5.5rem"></i>
       <h3 class="  flex align-items-center justify-content-center">Proyectos Pedagógicos Transversales</h3>
    </div>
    
      
    

  </div>


  <div class=" flex justify-content-center align-items-center w-6 background h-screen">

    <router-outlet></router-outlet>
  </div>


</div>